---
http_interactions:
- request:
    method: get
    uri: https://phabricator.whonix.org/api/maniphest.query?api.token=api-uwwns2ikyylvusej4t4jiqyhjvnf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Conduit-Capabilities:
      - gzip
      Onion-Location:
      - http://phabricator.dds6qkxpwdeubwucdiaord2xgbbeyds25rbsgr73tbfpqpt4a6vjwsyd.onion/api/maniphest.query?api.token=api-uwwns2ikyylvusej4t4jiqyhjvnf
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"PHID-TASK-2dxobbn6uq2ox5bq3dcu":{"id":"1001","phid":"PHID-TASK-2dxobbn6uq2ox5bq3dcu","authorPHID":"PHID-USER-b4dzmulqmkwhaq2b73bs","ownerPHID":"PHID-USER-fdjzwnsuqpjbmss2qi6d","ccPHIDs":["PHID-USER-fdjzwnsuqpjbmss2qi6d","PHID-USER-b4dzmulqmkwhaq2b73bs","PHID-USER-xbf6teehtqnwj3oqz4zn"],"status":"resolved","statusName":"Resolved","isClosed":true,"priority":"Needs
        Triage","priorityColor":"violet","title":"Updates proxy check fails in whonix-ws-15","description":"Recent
        test runs report failure of whonixcheck, I think relevant lines:\n\n```\nJan
        05 02:51:27 host sudo[1882]: pam_exec(sudo:auth): \/usr\/lib\/security-misc\/pam-abort-on-locked-password
        failed: exit code 1\nJan 05 02:51:27 host sudo[1882]:     root : PAM authentication
        error: System error ; TTY=unknown ; PWD=\/ ; USER=updatesproxycheck ; ENV=UWT_DEV_PASSTHROUGH=1
        ; COMMAND=\/usr\/bin\/curl --silent http:\/\/127.0.0.1:8082\/\n```\n\n```\nWARNING:
        Execution of \/usr\/bin\/apt-get prevented by \/etc\/uwt.d\/40_qubes.conf
        because no torified Qubes updates proxy found.\n```\n\nThe exact command is:
        `qvm-run -ap whonix-ws-15 ''LC_ALL=C whonixcheck --verbose --leak-tests --cli''`\nFull
        output: https:\/\/openqa.qubes-os.org\/tests\/15305\/file\/whonixcheck-whonixcheck-whonix-ws-15.log\n\nThis
        may be related to not setting empty root password anymore.\n\nMore info extracted
        from logs:\n```\n[2021-01-04 21:51:10] [   16.144317] torified-updates-proxy-check[538]:
        + true\n[2021-01-04 21:51:10] [   16.146402] torified-updates-proxy-check[538]:
        ++ sudo -u updatesproxycheck UWT_DEV_PASSTHROUGH=1 curl --silent http:\/\/127.0.0.1:8082\/\n[2021-01-04
        21:51:10] [   16.226376] sudo[629]: pam_exec(sudo:auth): \/usr\/lib\/security-misc\/pam-abort-on-locked-password
        failed: exit code 1\n[2021-01-04 21:51:10] [   16.226983] torified-updates-proxy-check[538]:
        \/usr\/lib\/security-misc\/pam-abort-on-locked-password failed: exit code
        1\n[2021-01-04 21:51:10] [   16.230002] torified-updates-proxy-check[538]:
        sudo: PAM authentication error: System error\n[2021-01-04 21:51:10] [   16.231315]
        sudo[629]:     root : PAM authentication error: System error ; TTY=unknown
        ; PWD=\/ ; USER=updatesproxycheck ; ENV=UWT_DEV_PASSTHROUGH=1 ; COMMAND=\/usr\/bin\/curl
        --silent http:\/\/127.0.0.1:8082\/\n```\n\nLooks like `\/usr\/lib\/security-misc\/pam-abort-on-locked-password`
        prevents root from using sudo (if there is no root password set). Since `torified-updates-proxy-check`
        is started as root (systemd service?), perhaps sudo usage is not needed there
        and simple `runuser` or even `setpriv` would be enough?","projectPHIDs":["PHID-PROJ-ahtkebyapzez2osb2u6x","PHID-PROJ-7ro5kt2nbndmev3eq4dh","PHID-PROJ-o7u4jsmh2gq3fyxltby5"],"uri":"https:\/\/phabricator.whonix.org\/T1001","auxiliary":{"std:maniphest:Whonix:impact":"Whonix:triage"},"objectName":"T1001","dateCreated":"1609823006","dateModified":"1611486484","dependsOnTaskPHIDs":[]},"PHID-TASK-hjx5lt77z4ajsj6w4liz":{"id":"1000","phid":"PHID-TASK-hjx5lt77z4ajsj6w4liz","authorPHID":"PHID-USER-vkphlmpeqsicpphbglgc","ownerPHID":"PHID-USER-fdjzwnsuqpjbmss2qi6d","ccPHIDs":["PHID-USER-fdjzwnsuqpjbmss2qi6d","PHID-USER-vkphlmpeqsicpphbglgc","PHID-USER-xbf6teehtqnwj3oqz4zn"],"status":"invalid","statusName":"Invalid","isClosed":true,"priority":"Needs
        Triage","priorityColor":"violet","title":"Add Wasabi Bitcoin wallet","description":"[[
        https:\/\/wasabiwallet.io\/ | Wasabi Wallet ]] is lite wallet focused on privacy.
        It has coin join function allowing to mix coins with other users of the Wallet.
        It uses Tor by default to anonymize the user. It uses BIP-157 block filters
        to protect user''s list of addresses. In Electrum servers see the list of
        user''s addresses, so if one address is deanonymized, the whole wallet is.
        In wasabi you see if a coin was mixed (anonymized) and who may know about
        your ownership of it.\n\nI think the Wallet is worth being added to Whonix
        workstation and also to Whonix documentation to this section: https:\/\/www.whonix.org\/wiki\/Bitcoin#Anonymizing_Existing_Bitcoins
        as it is a non-custodial and cheap way of mixing better in my opinion than
        washing through exchanges and\/or Monero.","projectPHIDs":["PHID-PROJ-7ro5kt2nbndmev3eq4dh"],"uri":"https:\/\/phabricator.whonix.org\/T1000","auxiliary":{"std:maniphest:Whonix:impact":"Whonix:triage"},"objectName":"T1000","dateCreated":"1598798001","dateModified":"1598870315","dependsOnTaskPHIDs":[]},"PHID-TASK-wjq3rhghhysgspfut43a":{"id":"999","phid":"PHID-TASK-wjq3rhghhysgspfut43a","authorPHID":"PHID-USER-qiw2d5tlss5cttk3lt2o","ownerPHID":"PHID-USER-fdjzwnsuqpjbmss2qi6d","ccPHIDs":["PHID-USER-fdjzwnsuqpjbmss2qi6d","PHID-USER-qiw2d5tlss5cttk3lt2o","PHID-USER-xbf6teehtqnwj3oqz4zn"],"status":"invalid","statusName":"Invalid","isClosed":true,"priority":"Needs
        Triage","priorityColor":"violet","title":"Can''t build Whonix from source","description":"Hello!
        Trying to build from source. The story of my issue here:\[...]
