---
http_interactions:
- request:
    method: get
    uri: https://phabricator.whonix.org/api/user.search?api.token=api-uwwns2ikyylvusej4t4jiqyhjvnf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Conduit-Capabilities:
      - gzip
      Onion-Location:
      - http://phabricator.dds6qkxpwdeubwucdiaord2xgbbeyds25rbsgr73tbfpqpt4a6vjwsyd.onion/api/user.search?api.token=api-uwwns2ikyylvusej4t4jiqyhjvnf
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"data":[{"id":1742,"type":"USER","phid":"PHID-USER-csikhnjxcipvuzxm6gzk","fields":{"username":"Timothyderse","realName":"TimothyderseYF","roles":[],"dateCreated":1702111713,"dateModified":1702111714,"policy":{"view":"public","edit":"no-one"}},"attachments":{}},{"id":1740,"type":"USER","phid":"PHID-USER-mdydwsa2qml25zij3jns","fields":{"username":"KeenanBut","realName":"KeenanButYZ","roles":[],"dateCreated":1702076460,"dateModified":1702076461,"policy":{"view":"public","edit":"no-one"}},"attachments":{}},{"id":1735,"type":"USER","phid":"PHID-USER-pvks3fxm4pfas5rpklst","fields":{"username":"Georgetiefs","realName":"GeorgetiefsMI","roles":[],"dateCreated":1702072937,"dateModified":1702072937,"policy":{"view":"public","edit":"no-one"}},"attachments":{}[...]
- request:
    method: get
    uri: https://phabricator.whonix.org/api/user.search?after=1461&api.token=api-uwwns2ikyylvusej4t4jiqyhjvnf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Conduit-Capabilities:
      - gzip
      Onion-Location:
      - http://phabricator.dds6qkxpwdeubwucdiaord2xgbbeyds25rbsgr73tbfpqpt4a6vjwsyd.onion/api/user.search?api.token=a[...]
[...]
